{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    {% include 'layout.html.twig' %}
    <div {{ react_component('components/blog/Album') }}></div>
{% endblock %}
