{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    {% include 'layout.html.twig' %}
    <div id="album" {{ react_component('pages/public/Courses') }}></div>
{% endblock %}
