{% extends 'base.html.twig' %}

{% block title %}Nous rejoindre{% endblock %}

{% block body %}
    {% include 'layout.html.twig' %}

    {{ form_start(registrationForm) }}
        <div {{ react_component('pages/admin/Subscribe') }} ></div>
    {{ form_end(registrationForm) }}
{% endblock %}
