{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
        {% include 'layout.html.twig' %}
        <div {{ react_component('components/public/Main') }}></div>
{% endblock %}
