{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
        {% include 'layout.html.twig' %}
        <div class="home">
        <div {{ react_component('components/public/Main') }}></div>
        </div>
{% endblock %}
