{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    {% include 'layout.html.twig' %}
    <div>
        <div {{ react_component('pages/public/Contact') }}></div>
    </div>
{% endblock %}
