{% extends 'base.html.twig' %}

{% block title %}Hello CourseController!{% endblock %}

{% block body %}
    {% include('layout.html.twig') %}
        <div {{ react_component('components/blog/CreateCourse') }}></div>
{% endblock %}
